<div class="container">
    <div class="navbar">
        <nav>
            <ul>
                <li><p>ABOUT</p></li>
                <li><a routerLink="/register">REGISTER</a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="col">
            <h1>Webshop</h1>
            <p>We created an amazing webshop for people that want to try numerous cloth. Here you can find anything that you want from casual sets to the new fashions!</p>
            <button type="button" routerLink="/login">Explore</button>
        </div>
        <div class="col">
            <div class="card card1">
                <h5>Shirts</h5>
                <p>Cool outfits for the hot days!</p>
            </div>
            <div class="card card2">
                <h5>Cotton top</h5>
                <p>What would be better for winter?</p>
            </div>
            <div class="card card3">
                <h5>Shirts and shoes</h5>
                <p>The best options for meetings.</p>
            </div>
            <div class="card card4">
                <h5>and many more...</h5>
            </div>
        </div>
    </div>
</div>
